#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 490.,
        height: 100.,
    ),
    background: SolidColor(0.9, 0.9, 0.9, 1.0),
    children: [
         Container(
            transform: (
                id: "fahrenheit_container",
                x: 125.,
                y: 0.,
                width: 230.,
                height: 80.,
                // stretch: XY( x_margin: 50., y_margin: 10., keep_aspect_ratio: false),
                tab_order: 1,
                anchor: MiddleLeft,
            ),
            background: NineSlice(
                    x_start: 0,
                    y_start: 0,
                    width: 49,
                    height: 49,
                    left_dist: 15,
                    right_dist: 15,
                    top_dist: 15,
                    bottom_dist: 15,
                    tex: File("texture/uipack/green_button06.png", ("IMAGE", ())),
                    texture_dimensions: (49,49),
                ),
            children: [
                Label(
                    transform: (
                        id: "fahrenheit",
                        x: 64.,
                        width: 115.,
                        height: 80.,
                        tab_order: 1,
                        anchor: MiddleLeft,
                        // stretch: XY(x_margin: 20., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "0",
                        font: File("font/Kenney Future Narrow.ttf", ("TTF", ())),
                        font_size: 50.,
                        color: (0.1, 0.1, 0.1, 1.0),
                        align: MiddleLeft,
                        editable: (
                            max_length: 4,
                            selected_text_color: (0.1, 0.1, 0.1, 1.0),
                            selected_background_color: (0.9, 0.9, 0.9, 1.0),
                        ),
                    )
                ),
                Label(
                    transform: (
                        id: "fahrenheit_label",
                        x: -57.5,
                        y: 0.,
                        // stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        width: 115.,
                        height: 80.,
                        tab_order: 1,
                        anchor: MiddleRight,
                        // opaque: false,
                    ),
                    text: (
                        text: "fahrenheit",
                        font: File("font/Kenney Future Narrow.ttf", ("TTF", ())),
                        font_size: 16.,
                        color: (0.1, 0.1, 0.1, 1.0),
                    )
                ),
            ]
        ),
        Container(
            transform: (
                id: "celsius_container",
                x: -125.,
                y: 0.,
                width: 230.,
                height: 80.,
                tab_order: 1,
                anchor: MiddleRight,
            ),
            background: NineSlice(
                    x_start: 0,
                    y_start: 0,
                    width: 49,
                    height: 49,
                    left_dist: 15,
                    right_dist: 15,
                    top_dist: 15,
                    bottom_dist: 15,
                    tex: File("texture/uipack/red_button06.png", ("IMAGE", ())),
                    texture_dimensions: (49,49),
                ),
            children: [
                Label(
                    transform: (
                        id: "celsius",
                        x: 103.,
                        width: 1.,
                        height: 1.,
                        tab_order: 1,
                        anchor: MiddleLeft,
                        stretch: XY(x_margin: 20., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "0",
                        font: File("font/Kenney Future Narrow.ttf", ("TTF", ())),
                        font_size: 50.,
                        color: (0.9, 0.9, 0.9, 1.0),
                        align: MiddleLeft,
                        editable: (
                            max_length: 4,
                            selected_text_color: (0.1, 0.1, 0.1, 1.0),
                            selected_background_color: (0.9, 0.9, 0.9, 1.0),
                        ),
                    )
                ),
                Label(
                    transform: (
                        id: "celsius_label",
                        x: -57.,
                        y: 0.,
                        // stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        width: 115.,
                        height: 80.,
                        tab_order: 1,
                        anchor: MiddleRight,
                        // opaque: false,
                    ),
                    text: (
                        text: "celsius",
                        font: File("font/Kenney Future Narrow.ttf", ("TTF", ())),
                        font_size: 16.,
                        color: (0.9, 0.9, 0.9, 1.0),
                    )
                ),
            ]
        ),
        
    ],
)
