#![enable(implicit_some)]
(
  title: "GUI One: Counter",
  dimensions: (300, 150),
  // min_dimensions: (300, 150),
  // max_dimensions: (300, 150),
  // resizable: true,
  // decorations: false,
  // transparent: true,
  // always_on_top: true,
  // visibility: true,
)
